<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../common/head') %>
        <link href="/assets/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" />
    </head>

    <body id="page-top">
        <div id="wrapper">
            <%- include('../common/side') %>
            <div id="content-wrapper" class="d-flex flex-column">
                <div id="content">
                    <%- include('../common/top') %>

                    <div class="container-fluid">
                        <div class="d-sm-flex align-items-center justify-content-between mb-4"><h1 class="h3 mb-0 text-gray-800">Deposit List</h1></div>

                        <div class="card shadow mb-4">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered nowrap w-100" id="dataTable">
                                        <thead></thead>
                                        <tbody>
                                            <!-- <tr>
                                                <td>
                                                    <a href="javascript:alert('lock time 이후에 전송이 가능합니다');" class="btn btn-secondary btn-icon-split btn-sm w-100" name="createWalletButton">
                                                        <span class="icon text-white-50"><i class="fas fa-arrow-right"></i></span>
                                                        <span class="text w-100">Transfer</span>
                                                    </a>
                                                </td>
                                                <td class="align-middle">0.001 WAFL</td>
                                                <td class="align-middle">Y</td>
                                                <td class="align-middle">2022-11-11 13:30:01</td>
                                                <td class="align-middle">0xb636A68F834B4D75aF9EDC5FB0138bB4758eD293</td>
                                                <td class="align-middle"><%= locals.session_account ? locals.session_account.wallet_address : '' %></td>
                                                <td class="align-middle">0xf35b9bcbc6f244adf0238213dda77cfca809c0cfc08e8a15e3db6cfb0cb9e415</td>
                                                <td class="align-middle">0.000011 ETH</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <a href="javascript:alert('comming soon');" class="btn btn-info btn-icon-split btn-sm w-100" name="createWalletButton">
                                                        <span class="icon text-white-50"><i class="fas fa-info-circle"></i></span>
                                                        <span class="text w-100">Details</span>
                                                    </a>
                                                </td>
                                                <td class="align-middle">0.001 WAFL</td>
                                                <td class="align-middle">Y</td>
                                                <td class="align-middle">2022-11-11 13:30:01</td>
                                                <td class="align-middle">0xb636A68F834B4D75aF9EDC5FB0138bB4758eD293</td>
                                                <td class="align-middle"><%= locals.session_account ? locals.session_account.wallet_address : '' %></td>
                                                <td class="align-middle">0xf35b9bcbc6f244adf0238213dda77cfca809c0cfc08e8a15e3db6cfb0cb9e415</td>
                                                <td class="align-middle">0.000011 ETH</td>
                                            </tr> -->
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.container-fluid -->
                </div>
                <!-- End of Main Content -->

                <%- include('../common/footer') %>
            </div>
            <!-- End of Content Wrapper -->
        </div>
        <!-- End of Page Wrapper -->

        <%- include('../common/scroll') %>

        <!-- logout modal -->
        <%- include('../common/logout-modal') %>

        <!-- script -->
        <%- include('../common/script') %>
        <script src="/assets/vendor/datatables/jquery.dataTables.min.js"></script>
        <script src="/assets/vendor/datatables/dataTables.bootstrap4.min.js"></script>
        <script>
            $(function () {
                const walletAddress = "<%= locals.session_account ? locals.session_account.wallet_address : '' %>";

                const datatable = $('#dataTable').DataTable({
                    fixedHeader: true,
                    columns: [
                        { title: 'Action', data: 'action' },
                        { title: 'Value', data: 'value' },
                        { title: 'isLock', data: 'lock' },
                        { title: 'Create', data: 'create' },
                        { title: 'From', data: 'from' },
                        { title: 'To', data: 'to' },
                    ],
                    columnDefs: [{ targets: '_all', className: 'align-middle' }],
                    scrollX: true,
                    order: [[3, 'desc']],
                });

                $.ajax({
                    type: 'GET',
                    url: '/history/deposit/transfers',
                    data: { address: walletAddress },
                    success: function (response) {
                        datatable.rows
                            .add(
                                response.data.list.map((e) => {
                                    const isUnlock = e.unlockTimestamp > Date.now() ? 'LOCK' : 'UNLOCK';
                                    return { action: makeButton(isUnlock), value: `${e.value} <%= locals.token_name %>`, lock: isUnlock, create: e.datetime, from: e.from, to: e.to };
                                }),
                            )
                            .draw();
                    },
                });
            });

            function makeButton(isUnlock) {
                const aTagStart = isUnlock === 'LOCK' ? `<a href="javascript:alert('UNLOCK 이후에 전송이 가능합니다');" class="btn btn-secondary btn-icon-split btn-sm w-100">` : `<a href="#notexist" class="btn btn-secondary btn-icon-split btn-sm w-100" name="createWalletButton">`;

                let htmlStr = '';
                htmlStr += aTagStart;
                htmlStr += `    <span class="icon text-white-50"><i class="fas fa-arrow-right"></i></span>`;
                htmlStr += `    <span class="text w-100">Transfer</span>`;
                htmlStr += `</a>`;

                return htmlStr;
            }
        </script>
    </body>
</html>
