<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../common/head') %>
    </head>

    <body id="page-top">
        <div id="wrapper">
            <%- include('../common/side') %>
            <div id="content-wrapper" class="d-flex flex-column">
                <div id="content">
                    <%- include('../common/top') %>

                    <div class="container-fluid">
                        <div class="d-sm-flex align-items-center justify-content-between mb-4">
                            <h1 class="h3 mb-0 text-gray-800">인증서 상세</h1>
                        </div>
                        <div class="row">
                            <div class="col-12 mb-4 float-style">
                                <div class="card shadow mb-4">
                                    <div class="card-header d-flex justify-content-between p-3">
                                        <h6 class="m-0 font-weight-bold text-primary content-short">산림청 탄소상쇄 인증서</h6>
                                        <h6 class="m-0 font-weight-bold text-success content-short">승인</h6>
                                    </div>
                                    <div class="card-body pb-0">
                                        <div class="row">
                                            <div class="col-lg-2 col-6"><p class="content-short">인증기관:</p></div>
                                            <div class="col-lg-4 col-6"><p class="content-short">산림청</p></div>
                                            <div class="col-lg-2 col-6"><p class="content-short">인증서 번호:</p></div>
                                            <div class="col-lg-4 col-6"><p class="content-short">12412</p></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-2 col-6"><p class="content-short">탄소 타입:</p></div>
                                            <div class="col-lg-4 col-6"><p class="content-short">FORESTRY(임업)</p></div>
                                            <div class="col-lg-2 col-6"><p class="content-short">인증서 타입:</p></div>
                                            <div class="col-lg-4 col-6 d-flex justify-content-between">
                                                <p class="content-short">PAPER</p>
                                                <span><a href="#" class="d-sm-inline-block btn btn-sm btn-outline-success content-short"><i class="fas fa-download fa-sm text-success-50"></i> Download</a></span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-2 col-6"><p class="content-short">탄소 흡수량:</p></div>
                                            <div class="col-lg-4 col-6"><p class="content-short">1,200KG</p></div>
                                            <div class="col-lg-2 col-6"><p class="content-short">인증서 유효기간:</p></div>
                                            <div class="col-lg-4 col-6"><p class="content-short">2023.05.12 ~ 2053.05.11</p></div>
                                        </div>
                                    </div>
                                    <hr class="m-0"></hr>
                                    <div class="card-body pb-0">
                                        <div class="row">
                                            <div class="col-12"><h6 class="m-0 font-weight-bold text-info content-short pb-3">보유 NFV & NFT 통계</h6></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="table-responsive table-x-scroll">
                                                    <table class="table mb-0">
                                                        <thead>
                                                            <tr>
                                                                <th scope="col">번호</th>
                                                                <th scope="col">타입</th>
                                                                <th scope="col">이름</th>
                                                                <th scope="col">탄소량</th>
                                                                <th scope="col">금액</th>
                                                                <th scope="col">수량</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>1</td>
                                                                <td>NFV</td>
                                                                <td>AAA</td>
                                                                <td>1,200KG</td>
                                                                <td></td>
                                                                <td>1,200</td>
                                                            </tr>
                                                            <tr>
                                                                <td>1</td>
                                                                <td>NFT</td>
                                                                <td>AAA1</td>
                                                                <td>1,200KG</td>
                                                                <td></td>
                                                                <td>1,200</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr class="m-0"></hr>
                                    <div class="card-body pb-0">
                                        <div class="row">
                                            <div class="col-lg-4 col-12 mb-3">
                                                <button class="btn btn-info w-100" name="certDetailBtn" data-id="1">NFV민팅</button>
                                            </div>
                                            <div class="col-lg-4 col-12 mb-3">
                                                <button class="btn btn-info w-100" name="certDetailBtn" data-id="1">NFT배포</button>
                                            </div>
                                            <div class="col-lg-4 col-12 mb-3">
                                                <button class="btn btn-info w-100" name="certDetailBtn" data-id="1">NFT민팅</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-12 mb-4 float-style">
                                <div class="card shadow mb-4">
                                    <div class="card-header p-3">
                                        <h6 class="m-0 font-weight-bold text-primary">보유 NFV</h6>
                                    </div>
                                    <div class="card-body pb-0">
                                        <div class="row">
                                            <div class="col-4"><p>이름:</p></div>
                                            <div class="col-8"><p>AAA</p></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-4"><p>탄소량:</p></div>
                                            <div class="col-8"><p>1,200KG</p></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-4"><p>금액:</p></div>
                                            <div class="col-8"><p></p></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-4"><p>수량:</p></div>
                                            <div class="col-8"><p>1,200</p></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-4"><p>Contract:</p></div>
                                            <div class="col-8"><p>0xsaff1SA12S8...</p></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-4"><p>이미지:</p></div>
                                            <div class="col-8"><span><a href="#" class="d-sm-inline-block btn btn-sm btn-outline-success"><i class="fas fa-image fa-sm text-success-50"></i> 보기</a></span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8 col-12 mb-4 float-style">
                                <div class="card shadow mb-4">
                                    <div class="card-body pb-0">
                                        <div class="row">
                                            <div class="col-12"><h6 class="m-0 font-weight-bold text-info pb-3">보유 NFT</h6></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="table-responsive table-x-scroll">
                                                    <table class="table mb-0">
                                                        <thead>
                                                            <tr>
                                                                <th scope="col">번호</th>
                                                                <th scope="col">이름</th>
                                                                <th scope="col">탄소량</th>
                                                                <th scope="col">금액</th>
                                                                <th scope="col">수량</th>
                                                                <th scope="col">Contract</th>
                                                                <th scope="col">이미지</th>
                                                                <th scope="col">생성일</th>
                                                                <th scope="col">상태</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>1</td>
                                                                <td>AAA1</td>
                                                                <td>1,200KG</td>
                                                                <td></td>
                                                                <td>1,200</td>
                                                                <td>0xF23Fsf93...</td>
                                                                <td><span><a href="#" class="d-sm-inline-block btn btn-sm btn-outline-success"><i class="fas fa-image fa-sm text-success-50"></i> 보기</a></span></td>
                                                                <td>23.05.15</td>
                                                                <td><span><a href="#" class="d-sm-inline-block btn btn-sm btn-outline-success"><i class="fas fa-image fa-sm text-success-50"></i> 보기</a></span></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <%- include('../common/footer') %>
            </div>
        </div>
        <%- include('../common/scroll') %> <%- include('../common/logout-modal') %> <%- include('../common/script') %>
    </body>
</html>
