<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../common/head') %>
    </head>

    <body id="page-top">
        <div id="wrapper">
            <%- include('../common/side') %>
            <div id="content-wrapper" class="d-flex flex-column">
                <div id="content">
                    <%- include('../common/top') %>

                    <div class="container-fluid">
                        <div class="d-sm-flex align-items-center justify-content-between mb-4">
                            <h1 class="h3 mb-0 text-gray-800">인증서 리스트</h1>
                        </div>
                        <div class="row">
                            <div class="col-12 mb-4 float-style">
                                <div class="row">
                                    <div class="col-2 pr-1">
                                        <select class="btn btn-light border border-dark w-100">
                                            <option selected>타입</option>
                                            <option value="cert_name">인증서 이름</option>
                                            <option value="cert_type">인증서 타입</option>
                                            <option value="carbon_type">탄소 타입</option>
                                        </select>
                                    </div>
                                    <div class="col-8 px-1">
                                        <input class="btn btn-light border border-dark w-100" placeholder="검색어 입력" />
                                    </div>
                                    <div class="col-2 pl-1">
                                        <button class="btn btn-light border border-dark w-100">검색</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 mb-4 float-style">
                                <div class="card shadow mb-4">
                                    <div class="card-header d-flex justify-content-between p-3">
                                        <h6 class="m-0 font-weight-bold text-primary">산림청 탄소상쇄 인증서</h6>
                                        <h6 class="m-0 font-weight-bold text-success">승인</h6>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-6"><p>인증기관: Verra</p></div>
                                            <div class="col-6"><p>인증서 번호: 12412</p></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6"><p>탄소 타입: FORESTRY(임업)</p></div>
                                            <div class="col-6"><p>인증서 타입: PAPER</p></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6"><p>탄소 흡수량: 1,200KG</p></div>
                                            <div class="col-6"><p>인증서 유효기간: 23.05.12 ~ 53.05.11</p></div>
                                        </div>
                                    </div>
                                    <hr class="m-0"></hr>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-12"><h6 class="m-0 font-weight-bold text-info pb-3">보유 NFV & NFT 통계</h6></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <table class="table mb-0">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col">번호</th>
                                                            <th scope="col">타입</th>
                                                            <th scope="col">이름</th>
                                                            <th scope="col">탄소량</th>
                                                            <th scope="col">금액</th>
                                                            <th scope="col">수량</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>1</td>
                                                            <td>NFV</td>
                                                            <td>AAA</td>
                                                            <td>1,200KG</td>
                                                            <td></td>
                                                            <td>1,200</td>
                                                        </tr>
                                                        <tr>
                                                            <td>1</td>
                                                            <td>NFT</td>
                                                            <td>AAA1</td>
                                                            <td>1,200KG</td>
                                                            <td></td>
                                                            <td>1,200</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-tail">
                                        <div class="row">
                                            <div class="col-12">
                                                <button class="btn btn-primary w-100" name="certDetailBtn" data-id="1">상세보기</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <%- include('../common/footer') %>
            </div>
        </div>
        <%- include('../common/scroll') %> <%- include('../common/logout-modal') %> <%- include('../common/script') %>
        <script>
            $(function() {
                $('button[name="certDetailBtn"]').on('click', function() {
                    location.href = '/providers/' + $(this).data('id');
                });
            });
        </script>
    </body>
</html>
